<div class="container">
    <div [hidden]="submitted">
        <h2>Register</h2>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstName">First name</label>
                <input type="text" id="firstName" name="firstName"
                    [(ngModel)]="user.firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Last name</label>
                <input type="text" id="lastName" name="lastName"
                    [(ngModel)]="user.lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email"
                [(ngModel)]="user.email">
            </div>
            <div class="form-group">
                <label for="userName">Username</label>
                <input type="text" id="userName" name="userName"
                    [(ngModel)]="user.userName">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password"
                    [(ngModel)]="user.password">
            </div>
            <button type="submit">Register</button>
        </form>
    </div>

    <div [hidden]="!submitted">
        <h2>You have successfully registered</h2>
        <p>{{ user.userName }}</p>
        <p>{{ user.firstName }} {{user.lastName }} </p>
        <p>{{ user.email }}</p>
    </div>
</div>
